* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #030f1e;
    color: antiquewhite;
    height: 1000px;
    /* display: flex; */
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* @-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(8deg);
  }
} */

/* .wrap {
  max-width:1280px;
  min-width:90%;
  height:auto;
  margin:5%;
} */
.flexNav {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
a:visited {
    color: rgb(5, 28, 98);
}
.btnNav {
    display: inline-block;
    background-color: cadetblue;
    padding: 0.7em 1.7em;
    /* border: solid 1% black; */
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    box-shadow:
        inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),
        inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),
        inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    
}
.btnNav:hover {
    background-color: rgb(39, 114, 118);
}
.btnNav:active {
    box-shadow: 
        inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),
        inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    color: blue;
}
h1, h2 {
    text-align: center;
    margin-bottom: 10px;
}

.fa-home {
    font-size: 24px;
}

.list1 {
    list-style-type: none;
}
.list2 {
    list-style-type: circle;
}
.encadre {
    border: double cadetblue;
    background-color: black;
    border-radius: 2%;
    border-width: 10px;
    padding: 5%;
    margin: 10%;
}
.image1 {
    text-align: center;
}

.margD5 {
    margin-right: 5px;
}
.margD10 {
    margin-right: 10px;
}
.margH10 {
    margin-top: 10px;
}
.margH20 {
    margin-top: 20px;
}



/* ----------------------------------- */
/* -----------page formulaires ----------- */


.flexForm {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.formula1 {
    border: solid 1px silver;
    margin: 8% 8% 1% 8%;
    padding: 5% 5% 5% 5%;
    background-color: black;
}

label {
    margin-bottom: 10px;
}
input {
    width: 75%;
    border: none;
    border-bottom: 1px solid silver;
    background-color: black;
    color: antiquewhite;
    margin-bottom: 10px;
}


.btn {
    padding: 1%;
}

/* ----------------------------------- */
/* -----------page du jeu ----------- */

.nbrTourBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    transition-duration: 0.4s;
    background-color: rgb(0, 57, 141);
    color: antiquewhite;
    border: solid 2px rgb(110, 181, 243);
    padding: 2% 5% 2% 5%;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: 200%;
}


/* .btnStart {
    transition-duration: 0.4s;
    background-color: rgb(7, 64, 154);
    color: antiquewhite;
    border: solid 2px rgb(110, 181, 243);
    padding: 2% 5% 2% 5%;
    border-radius: 20px;
}
.btnStart:hover {
    background-color: rgb(0, 102, 255);
} */

.cartesBox {
    /* display: grid;
    grid-auto-flow: row;
    width: 85%;
    height: 85%;
    margin: 5% auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "carte1 carte2 carte3 carte4"
        "carte5 carte6 carte7 carte8 "
        "carte9 carte10 carte11 carte12"
        "carte13 carte14 carte15 carte16"
        "carte17 carte18 carte19 carte20"    
    ;
    align-items: center;
    justify-items: stretch;
    gap: 1%; */

    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;

    border: double 2px rgb(110, 181, 243);
    border-width: 10px;
    padding: 2% 5% 2% 5%;
    border-radius: 20px;

    /* border: solid 1px green; */
    
}

/* .box {
    display: inline-block;
    background: #282a36; 
     border-left: 1px solid hsl(220, 100%, 50%);
    border: 5px solid hsl(220, 100%, 50%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; 
animation: rainbow 5s infinite alternate;
    -ms-animation: rainbow 5s infinite alternate;
    -moz-animation: rainbow 5s infinite alternate;
    -webkit-animation: rainbow 5s infinite alternate;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
     -webkit-backface-visibility: hidden;
            backface-visibility: hidden; 
     cursor: pointer;
}  */

.cartes {
    /* display: none; */
    /* border-radius: 50px; */
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    margin: 5px;
    position: relative;
    /* transform: scale(1); */
    transform-style: preserve-3d;
    transform: transform 0.5s;
}





/* .cartesBack {    
    /* height: 15%;
    width: 15%; */
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* background-color: darkviolet; */
    /* transition: all 150ms ease-out; */
    /* border: solid 1px purple; */
    /* padding: 5px;
    margin: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background: rgba(24, 141, 192, 0.7);
    overflow: hidden;
    position: relative;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; */
/* } */

.cartesArriere,.cartesFace {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    background: rgb(69, 141, 214);
    backface-visibility: hidden;
}

.cartesArriere,.cartesFace:hover {
    cursor: pointer;
}

.cartes.flip {
    transform: rotateY(180deg);
}

.cartesFace {
    transform: rotateY(180deg);
}


/* .backside {
  padding: 5px;
  margin: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: rgba(117,8,161,.7);
  overflow: hidden;
  position: relative;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
} */

/* .backside > i {
  position: absolute;
  font-size: 55px;
  top: 0;
  left: 0;
  -webkit-transform: translate(27px, 30px);
      -ms-transform: translate(27px, 30px);
          transform: translate(27px, 30px);
  color: snow; 
} */
/* .retourne,.cartesBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border: none;
} */

.paireCartes {
  background: #ffbe2e;
  -webkit-transition: all 1s ease-in-out 1s;
  -o-transition: all 1s ease-in-out 1s;
  transition: all 1s ease-in-out 1s;
}


.modale {
  display: none; 
  position: fixed; 
  z-index: 1; /* pour que ce soit devant tout le reste de la page  */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* pour pouvoir scroller, au cas où */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modaleVictoire {
    background-color: rgb(104, 181, 244);
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 300%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: 200%;
    margin: 40% auto; /* 50% du haut et centrée */
    padding: 10%;
    border: 5px solid rgb(15, 30, 66);
    width: 60%;
}

.fermerModale {
  color: black;
  float: right;
  font-size: 50px;
  font-weight: bold;
  position: relative;
}
.fermerModale:hover,
.fermerModale:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#textRejouer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.espace {
    color: rgb(138, 61, 19);
    font-weight: 800;
}

/* ----------------------------------- */
/* -----------page du profil ----------- */

table, th, td {
    border: solid 2px silver;
    align-content: center;
}
.table1 {
    margin-left: auto;
    margin-right: auto;
}

.testBord {
    border: solid 1px green;
}